@import "variables";
* {
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
}
body {
  background-color: $Yellow;
}
h1 {
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: $Yellow;
  }
}
span {
  font-size: 0.7rem;
  color: $Black;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
    .card {
      display: flex;
      flex-direction: column;
      max-width: 13rem;
      padding: 1.3rem;
      margin: 1rem 0.5rem;
      background-color: $White;
      border: 1px solid $Black;
      border-radius: 1rem;
      box-shadow: 0.5rem 0.5rem $Black;
      img {
        max-width: 100%;
        border-radius: 0.5rem;
      }
      .card__label {
        background-color: $Yellow;
        width: min-content;
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
        font-weight: 800;
        margin-top: 1rem;
      }
      .card__date {
        font-weight: 600;
        margin: 0.5rem 0rem;
      }
      .card__info {
        font-size: 0.8rem;
        color: $Grey;
        margin: 1rem 0rem;
      }
      .card__user {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        img {
          max-width: 2rem;
          margin-right: 0.5rem;
        }
        span {
          font-size: 0.8rem;
          font-weight: 800;
        }
      }
    }
  }
